<h1>Listing devices</h1>

<table>
  <tr>
    <th>Device Type</th>
    <th></th>
    <th></th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <td><%= device.device_type %></td>
    <td><%= button_to 'Push to Device', push_path(device) %></td>
    <td><%= link_to 'Destroy', device, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

